{
  "projects": {
    "default": "${FIREBASE_TEST_PROJECT_ID}",
    "test": "${FIREBASE_TEST_PROJECT_ID}",
    "production": "${FIREBASE_PROD_PROJECT_ID}"
  },
  "targets": {
    "${FIREBASE_TEST_PROJECT_ID}": {
      "hosting": {
        "app": ["${FIREBASE_TEST_APP_SITE}"]
      }
    },
    "${FIREBASE_PROD_PROJECT_ID}": {
      "hosting": {
        "app": ["${FIREBASE_PROD_APP_SITE}"]
      }
    }
  }
}