{
  "targets": {
    "${FIREBASE_PROJECT_ID}": {
      "hosting": {
        "web": ["${FIREBASE_PROJECT_ID}"],
        "activity-wall": ["codeheroes-activity-wall-test"]
      }
    }
  },
  "projects": {
    "default": "${FIREBASE_PROJECT_ID}"
  }
}