{
  "targets": {
    "${FIREBASE_PROJECT_ID}": {
      "hosting": {
        "web-legacy": ["${FIREBASE_PROJECT_ID}"],
        "app": ["${FIREBASE_ACTIVITY_WALL_SITE}"]
      }
    }
  },
  "projects": {
    "default": "${FIREBASE_PROJECT_ID}"
  }
}