@use './styles/tailwind';

:root {
  --primary: #00bc7d;
}

@theme {
  --color-codeheroes-black: #010d01;
  --color-codeheroes-dark: #0e1821;
  --color-codeheroes-blue: #1d2e41;
  --color-codeheroes-grey: #838591;
  --color-codeheroes-accent: #1fba41;
  --color-codeheroes-light: #cbe0f8;

  --color-blue-charcoal-50: #f4f7fb;
  --color-blue-charcoal-100: #e7f0f7;
  --color-blue-charcoal-200: #cbdfec;
  --color-blue-charcoal-300: #9dc3dc;
  --color-blue-charcoal-400: #68a4c8;
  --color-blue-charcoal-500: #4488b3;
  --color-blue-charcoal-600: #336d96;
  --color-blue-charcoal-700: #2a587a;
  --color-blue-charcoal-800: #264b66;
  --color-blue-charcoal-900: #244056;
  --color-blue-charcoal-950: #0e1821;

  --font-montserrat: 'Montserrat', sans-serif;
}

@layer base {
  h1 {
    @apply text-2xl sm:text-3xl tracking-normal font-semibold;
  }

  h2 {
    @apply text-xl sm:text-2xl tracking-normal;
  }

  h3 {
    @apply text-lg tracking-normal;
  }

  button {
    @apply px-4 py-2 text-sm font-semibold border-2 uppercase rounded-md cursor-pointer disabled:opacity-50 disabled:bg-slate-50 disabled:cursor-not-allowed hover:bg-slate-200 dark:hover:text-slate-800 dark:disabled:text-slate-500;
  }
}

html,
body {
  height: 100%;
}

.background-logo {
  position: absolute;
  z-index: -1;
  top: 0;
  opacity: 0.2;
  height: 100vh;
  width: 90%;
  margin-left: 5%;
  background-image: url('/images/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

.bg-primary {
  background-color: var(--primary);
}

.border-primary {
  border-color: var(--primary);
}

svg-icon svg {
  max-width: 100%;
  max-height: 100%;
}
