<div class="container max-w-7xl mx-auto my-8 p-6">
  <div class="bg-blue-charcoal-50 dark:bg-codeheroes-blue rounded-lg p-4 shadow-lg">
    <h1 class="mb-4">Dashboard</h1>
    <p class="mb-4">Welcome to your dashboard {{ auth.currentUser?.displayName }}</p>
    <button (click)="auth.signOut()">Sign out</button>
  </div>
</div>

<div class="container max-w-7xl mx-auto my-8 p-6">
  <div class="bg-blue-charcoal-50 dark:bg-codeheroes-blue rounded-lg p-4 shadow-lg">
    <h1 class="mb-4">Dashboard</h1>
    <p class="mb-4">Welcome to your dashboard {{ auth.currentUser?.displayName }}</p>
    <button (click)="auth.signOut()">Sign out</button>
  </div>
</div>

<div class="container max-w-7xl mx-auto my-8 p-6">
  <div class="bg-blue-charcoal-50 dark:bg-codeheroes-blue rounded-lg p-4 shadow-lg">
    <h1 class="mb-4">Dashboard</h1>
    <p class="mb-4">Welcome to your dashboard {{ auth.currentUser?.displayName }}</p>
    <button (click)="auth.signOut()">Sign out</button>
  </div>
</div>

<div class="container max-w-7xl mx-auto my-8 p-6">
  <div class="bg-blue-charcoal-50 dark:bg-codeheroes-blue rounded-lg p-4 shadow-lg">
    <h1 class="mb-4">Dashboard</h1>
    <p class="mb-4">Welcome to your dashboard {{ auth.currentUser?.displayName }}</p>
    <button (click)="auth.signOut()">Sign out</button>
  </div>
</div>

<div class="container max-w-7xl mx-auto my-8 p-6">
  <div class="bg-blue-charcoal-50 dark:bg-codeheroes-blue rounded-lg p-4 shadow-lg">
    <h1 class="mb-4">Dashboard</h1>
    <p class="mb-4">Welcome to your dashboard {{ auth.currentUser?.displayName }}</p>
    <button (click)="auth.signOut()">Sign out</button>
  </div>
</div>

<div class="container max-w-7xl mx-auto my-8 p-6">
  <div class="bg-blue-charcoal-50 dark:bg-codeheroes-blue rounded-lg p-4 shadow-lg">
    <h1 class="mb-4">Dashboard</h1>
    <p class="mb-4">Welcome to your dashboard {{ auth.currentUser?.displayName }}</p>
    <button (click)="auth.signOut()">Sign out</button>
  </div>
</div>

<div class="container max-w-7xl mx-auto my-8 p-6">
  <div class="bg-blue-charcoal-50 dark:bg-codeheroes-blue rounded-lg p-4 shadow-lg">
    <h1 class="mb-4">Dashboard</h1>
    <p class="mb-4">Welcome to your dashboard {{ auth.currentUser?.displayName }}</p>
    <button (click)="auth.signOut()">Sign out</button>
  </div>
</div>
