@let user = this.user();

<app-page>
  <div class="flex flex-col lg:flex-row justify-between items-start">
    <!-- User details -->
    <div class="flex items-center">
      <app-avatar size="large" [user]="user"></app-avatar>

      <div class="flex flex-col ml-6">
        <h1>{{ user?.displayName }}</h1>

        <div class="flex flex-row items-center">
          Level:
          <app-level-badge class="ml-1" size="small" [level]="user?.level || 0"></app-level-badge>
        </div>

        @if (isPushNotificationSupported()) {
          @if (isNotificationsAllowed() === false) {
            <button
              class="flex flex-row w-fit items-center mt-2"
              [disabled]="isNotificationsAllowed()"
              (click)="allowNotifications()"
            >
              <svg-icon src="icons/notification.svg" class="inline-block w-4 h-4 mr-1 text-inherit"></svg-icon>

              Allow push notifications
            </button>
          }
        }

        <button class="flex flex-row w-fit items-center mt-2" (click)="logout()">
          <svg-icon src="icons/power.svg" class="inline-block w-4 h-4 mr-1 text-inherit"></svg-icon>
          Logout
        </button>
      </div>
    </div>

    <!-- Activites -->
    <div class="w-full mt-12 lg:mt-0 lg:w-1/2">
      <h2 class="mb-4">Latest {{ numberOfActivities }} activities</h2>

      <app-activities-list [activities]="latestActivites()"></app-activities-list>
    </div>
  </div>
</app-page>
